:root {
      /* 60/812(tamanho da tela *h*) como é em porcentagem 6000/812 */
      --spacing-container-top: 7.389162561576355vh;
      /* 36/375(tamanho da lateral *w*) como é em porcentagem 3600/375 */
      --spacing-container-left: 9.6vw;
      /* 126/375(tamanho da lateral *w*) como é em porcentagem 12600/375 */
      --spacing-container-right: 9.6vw;
      /* 22/812(tamanho da tela *h*) como é em porcentagem 2200/812 */
      --spacing-container-bottom: 2.70935960591133vh;

      --spacing-very-small: 6px;
}