/* COMPONENTE */

.container-braven {
    background: url("../../img/braven.png") no-repeat;
    background-size: auto 100%;
    background-position-x: -250px;
    height: 100%;
    font-weight: bold;
    padding-top: var(--spacing-container-top);
    padding-left: var(--spacing-container-left);
    padding-right: var(--spacing-container-right);
    padding-bottom: var(--spacing-container-bottom);
}