.menu-braven > .menu{
    display: block;
    height: 40px;
    width: 22px;
    background: url(../../img/menu.svg) no-repeat center;
    cursor: pointer;
    text-indent: -99999px;
}

.menu-braven > .items {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-negative-light);
    padding-top: var(--spacing-container-top);
    padding-left: var(--spacing-container-left);
    padding-right: var(--spacing-container-right);
    padding-bottom: var(--spacing-container-bottom);
}

.menu-braven > .items:before {
    content: "X";
    font-size: 1.235294118em;
    color: var(--color-zero);
    display: block;
    border: 4px solid var(--color-zero);
    border-radius: 50%;
    width: 43px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 40px;
}

.menu-braven .action {
    color: var(--color-zero);
    text-decoration: none;
    font-weight: normal;
}

.menu-braven .item {
    margin-left: var(--spacing-very-small);
}

.menu-braven .item:not(:last-child) {
   margin-bottom: 2.352941176em;
}


























